* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
.mobile-menu {
    display: none;
}
.header {
    width: 100%;
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 2em;

        h2 {
            font-size: 1.7em;
        }

        .mobile-menu-icon {
            display: none;
        }

        .buttons {
            display: flex;
            gap: 1em;
            .sign {
                background-color: hsl(180, 66%, 49%);
                color: white;
                width: 7em;
                height: 2.5em;
                border: 0;
                border-radius: 2em;
                cursor: pointer;
                &:hover {
                    background-color: hsl(180, 63%, 69%);
                }
            }
            .login {
                color: hsl(0, 0%, 64%);
                border: 0;
                background-color: transparent;
                cursor: pointer;

                &:hover {
                    color: black;
                }
            }
        }
        .logo {
            display: flex;
            align-items: center;
            gap: 3em;
            .nav-bar {
                ul {
                    display: flex;
                    gap: 1em;
                    list-style: none;
                    align-items: center;
                    justify-content: space-around;
    
                    li {
                        a {
                            font-size: 0.8em;
                            font-weight: 300;
                            text-decoration: none;
                            color: hsl(0, 0%, 64%);

                            &:hover {
                                color: black;
                            }
                        }
                    }
                }
            }
        }
    }
}

#banner {
    .container {
        display: flex;
        justify-content: space-between;

        .texto {
            margin-left: 5em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 30%;

            button {
                background-color: hsl(180, 66%, 49%);
                color: white;
                border: 0;
                border-radius: 3em;
                height: 3em;
                margin-top: 5%;
                width: 10em;
                cursor: pointer;
                &:hover {
                    background-color: hsl(180, 63%, 69%);
                }
            }
            p {
                color: hsl(0, 0%, 64%);
                font-weight: 300;
            }
            
            h2 {
                font-size: 3.5em;
                font-weight: 700;
            }
        }
    }
}

#input {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
    position: absolute;

    .container {
        label {
            position: absolute;
            left: 20%;
            top: 75%;
            font-style: italic;
            font-size: 0.8em;
            color: hsl(0, 87%, 67%);
            font-weight: 300;
        }
        width: 65%;
        background-image: url(images/bg-shorten-desktop.svg);
        background-size: cover;
        border-radius: 0.3em;
        background-color: hsl(257, 27%, 26%);
        display: flex;
        gap: 1em;
        padding: 2em;
        justify-content: center;
        align-items: center;
        button {
            background-color: hsl(180, 66%, 49%);
            color: white;
            border: 0;
            border-radius: 0.3em;
            height: 3em;
            width: 10em;
            cursor: pointer;

            &:hover {
                background-color: hsl(180, 63%, 69%);
            }
        }
        input {
            border-radius: 0.3em;
            border: 0;
            padding: 1em;
            outline: 0;
            width: 90%;
            height: 3em;

            &.error {
                border: 2px solid hsl(0, 87%, 67%);
            }
        }
    }
}

#statics {
    margin-top: 6em;
    .container {
        background-color: #f0f1f6;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5em;
        padding-bottom: 5em;
        gap: 3em;
        justify-content: center;
        .itens {
            display: flex;
            justify-content: center;
            align-items: center;

            .separador {
                margin-top: 3em;
                width: 3em;
                border-bottom: 10px solid hsl(180, 66%, 49%);
            }

            #card1 {
                margin-top: 3em;
            }

            #card2 {
                margin-top: 6em;
            }
            .card {
                width: 20em;
                height: 100%;
                padding: 2em;
                background-color: white;
                border-radius: 0.5em;

                .img {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: hsl(257, 27%, 26%);
                    width: 5em;
                    height: 5em;
                    border-radius: 5em;
                    padding: 1em;
                    position: relative;
                    top: -3em;
                }
            }
        }
        .results {
            display: flex;
            background-color: rgb(255, 255, 255);
            width: 65%;
            border-radius: 0.3em;
            align-items: center;
            justify-content: space-between;
            padding: 1em;
            
    
            div {
                display: flex;
                align-items: center;
                gap: 1em;
                button {
                    width: 6em;
                    height: 2.5em;
                    border: 0;
                    color: white;
                    border-radius: 0.3em;
                }
                .copy {
                    background-color: hsl(180, 63%, 49%);
                    cursor: pointer;
                    
                    &:hover {
                        background-color: hsl(180, 63%, 69%);
                    }
                }
                .copied {
                    display: none;
                    background-color: hsl(257, 27%, 26%);
                    cursor: pointer;
                }
                a {
                    text-decoration: none;
                    color: hsl(180, 63%, 49%);
                }
            }
        }

        .text {
            display: flex;
            flex-direction: column;
            gap: 1em;
            text-align: center;
            width: 30%;
        }
    }
}

#boost {
    .container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 4em;
        gap: 2em;
        background-image: url(images/bg-shorten-desktop.svg);
        background-size: cover;
        background-color: hsl(257, 27%, 26%);
        
        h2 {
            color: white;
            font-size: 2em;
        }

        button {
            background-color: hsl(180, 66%, 49%);
            width: 10em;
            height: 3em;
            color: white;
            border: 0;
            border-radius: 3em;
            cursor: pointer;

            &:hover {
                background-color: hsl(180, 63%, 69%);
            }
        }
    }
}

.footer {
    footer {
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding: 3em;
        background-color: hsl(260, 8%, 14%);
        color: white;

        .footer-logo {
            h2 {
            font-size: 2em;
             }
        }

        .foot-nav {
            nav {
                h2 {
                    font-size: 1em;
                }
                ul {
                    margin-top: 1em;
                    list-style: none;
                    font-weight: 300;
                    color: hsl(0, 0%, 64%);
                }
            }
        }

        .social-links {
            img {
                margin-left: 1em;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .open {
        display: flex;
    }
    .header {
        position: fixed;
        z-index: 1;
        .mobile-menu {
            border-radius: 0.5em;
            width: 90%;
            left: 5%;
            height: 35%;
            position: fixed;
            flex-direction: column;
            gap: 2em;
            align-items: center;
            justify-content: center;
            background-color: hsl(257, 27%, 26%);

            .menu-bar {
                text-align: center;
                    ul {
                        flex-direction: column;
                        display: flex;
                        gap: 1em;
                        list-style: none;
                        
                        li {
                            a {
                                color: white;
                                text-decoration: none;
                            }
                        }
                    }
            }

            .buttons {
                display: flex;
                flex-direction: column;
                gap: 1em;
                width: 90%;
                .sign {
                    background-color: hsl(180, 66%, 49%);
                    color: white;
                    width: 100%;
                    height: 2.5em;
                    border: 0;
                    border-radius: 2em;
                    cursor: pointer;
                    &:hover {
                        background-color: hsl(180, 63%, 69%);
                    }
                }
                .login {
                    color: hsl(0, 0%, 100%);
                    border: 0;
                    background-color: transparent;
                    cursor: pointer;
    
                    &:hover {
                        color: black;
                    }
                }
            }
        }
        header {
        
            .mobile-menu-icon {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 70%;
                }
            }
            .nav-bar {
                display: none;
            }
            .buttons {
                display: none;
            }

        }
    }
    .footer {
        footer {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 2em;
        }
    }
    #banner {
            
        padding-top: 10em;
        .container {
            flex-direction: column-reverse;
            align-items: center;
            text-align: center;
            div {
                img {
                    width: 90%;
                }
            }
            .texto {
                margin: 2em;
                align-items: center;
                justify-content: center;
                width: 80%;

                h2 {
                    font-size: 2.5em;
                }
            }
        }
    }

    #input {
        .container {
            width: 90%;
            flex-direction: column;

            label {
                left: 8%;
                top: 5%;
            }

            input {
                width: 100%;
            }
            button {
                width: 100%;
            }
        }
    }

    #statics {
        .container {
            padding-top: 10em;
            .results {
                width: 90%;
                flex-direction: column;
                align-items: start;

                div {
                    flex-direction: column;
                    align-items: start;
                    width: 100%;
                    button {
                        width: 100%;
                    }
                }
            }
            .itens {
                flex-direction: column;

                .separador {
                    width: 0;
                    height: 7em;
                    border-left: 10px solid hsl(180, 66%, 49%);
                    margin: 0;
                }

                .card {
                    width: 90%;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                #card1 {
                    margin: 0;
                }
                #card2 {
                    margin: 0;
                }
            }
            .text {
                margin-top: 3em;
                width: 90%;
            }
        }
    }

    
}